@media only screen and (max-width: 1024px){
    .container {width: 960px;}

}


@media only screen and (max-width: 768px){
    .container {width: 720px; box-sizing: border-box}
    section .top {float: left;}
    section .bottom {float: left; margin-left: 20px; margin-bottom: 20px}
    section .left .bottom {margin-top: 0px;}
    section .center {width: 48%; background-size:cover; margin-left: 0;}
    section .right {width: 50%; box-sizing: border-box; padding-left: 15px;}
    section .right .top { width: 100%; margin: 0; background-size: cover; margin-bottom: 20px;}
    section .right .bottom { width: 100%; margin: 0; background-size: cover;}
    footer .language {  float: none; position: absolute; right: 70px; bottom: 12px;}


}

@media only screen and (max-width: 480px){
    .container {width: 100%; max-width: 480px;}
    header .logo {margin-left: 10px}
    header .right {float: none}
    header .sale {width: 50%; margin-left: 10px}
    header .menu {margin-right: 10px;}
    header .menu li {display: block;}
    header .menu form { width: 110px;}
    header .menu ul a {font-size: 12px}
    header .menu li {margin-top: 0px; margin-left: 0px}
    .owl-carousel {width: 100%; margin: 0px; margin-bottom: 10px;}
    section .left {width: 100%; }
    section .left .top {width: 100%; margin-bottom: 10px; background-size:cover;}
    section .left .bottom {width:100%; margin-left: 0px; margin-bottom: 10px; background-size:cover;}
    section .center {margin: 0; width: 100%; margin-bottom: 10px; background-size:cover;}
    section .right {float: none; width: 100%; padding-left: 0}
    section .right .top { width: 100%; margin: 0; margin-bottom: 10px; background-size:cover;}
    section .right .bottom { width: 100%; margin: 0; margin-bottom: 10px; background-size:cover;}
    footer .container {background-repeat: repeat-y; max-width: 300px;}
    footer .left li {display: block; margin-left: 0px;}
    footer .right p {margin-right: 0px; float: none; padding-left: 10px;}
    footer .language {  float: none; padding-left: 5px; }
    footer .language a {margin-top: 10px;}
    footer .language {  float: none; position: absolute; right: 0px; bottom: 35px;}

}