* {
    margin:0; padding:0;
    font-size:inherit;
    color:inherit;
    -webkit-font-smoothing: antialiased;
}
button::-moz-focus-inner {padding:0;border:0;}
a {outline:none;
    text-decoration:none;
    background-color:transparent;
    font-size:11px;
    color:#2d2a2b ;
}
img {border:none;}
html {height: 100%;}
body {
    height: auto !important;
    min-height: 100%;
    position: relative;
    background: #ffffff ;
    font-size:13px;
    background-image: url("../images/background.png");
    background-repeat: repeat;
    color:#575757 ;
}
@font-face {
    font-family: 'GothamMediumRegular';
    src: url('../fonts/GothamMediumRegular.eot');
    src: url('../fonts/GothamMediumRegular.eot') format('embedded-opentype'),
    url('../fonts/GothamMediumRegular.woff2') format('woff2'),
    url('../fonts/GothamMediumRegular.woff') format('woff'),
    url('../fonts/GothamMediumRegular.ttf') format('truetype'),
    url('../fonts/GothamMediumRegular.svg#GothamMediumRegular') format('svg');
}

.container {
    width: 960px;
    margin: auto;
    box-sizing: border-box;

}
.clearfix {
    clear: both;
}
header .logo {
    float: left;
    margin-bottom: 32px;
}
.right {
    float: right;
}
.left {
    float: left;
}
header .right:after {
    content: " ";
    claer: both;
}
header .sale {
    float: right;
    width: 245px;
    text-align: center;
    font-family: GothamMediumRegular;
    font-size: 10px;
    color: #ababab;
    line-height: 25px;
    background-color: #303030;

}
header .sale:after {
    content: " ";
    claer: both;
}
header .menu {
    float: right;
    margin: 10px 0px;
}
header .menu img {
    margin-left: 18px;
    margin-top: 7px;
}

.form {
    position: relative;
    width: 175px;
    height: 27px;
    margin-left: 16px;
    border: solid 1px #ababab;
    box-sizing: border-box;
    background-color: black;
    color: #ababab;
}
header .img {
    background-image: url("../images/searche_03.png");
    width: 24px;
    height: 28px;
    position: absolute;
    right: 5px;
    bottom: 50%;
    margin-bottom: -14px;

}
header .menu form input {
    width: 70%;
    line-height: 25px;
    vertical-align: middle;
    margin-left: 16px;
    color: #ababab;
    background: #000000;
    border: none;
    font-family: GothamMediumRegular;
    font-size: 12px;

}
header .menu button {
    width: 20%;
    height: 100%;
    border: none;
    background-color: black;

}

header .menu li {
    margin: 10px 16px;
    display: inline-block;
}
header .menu ul a {
    font-family: GothamMediumRegular;
    font-size: 15px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.owl-carousel {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}
.owl-carousel .owl-dots {
    position: absolute;
    top: 22px;
    right: 78px;
}
.owl-carousel .owl-dot {
    background-color: #ababab;
    width: 9px;
    height: 9px;
    float: left;
    margin-right: 9px;
}
.owl-carousel .owl-dot.active {
    background-color: #575757;
    width: 9px;
    height: 9px;

}

section a {
    line-height: 60px;
    color: #FFFFFF;
    background-color: #228dbf;
    opacity: 0.8;
    font-family: GothamMediumRegular;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    border: none;
    position: absolute;
    bottom: 20px;
    left: 20px;
}
section .owl-carousel a {
    width: 220px;

}

section .left .top {
    background-image: url("../images/bg-1_03.png");
    width: 350px;
    height: 218px;
    position: relative;
    
}
section .left .top a {
    width: 170px;
}
section .left .bottom {
    background-image: url("../images/bg-2_03.png");
    width: 350px;
    height: 217px;
    margin-top: 20px;
    box-sizing: border-box;
    padding-left: 23px;

}
section .left .bottom:before {
    display: inline-block;
    content: " ";
    background-image: url("../images/scissors_03.png");
    width: 38px;
    height: 26px;
    margin-top: 23px;
}
p {
    font-size: 25px;
    font-family: GothamMediumRegular;
    color: #FFFFFF;
    text-transform: uppercase;
}
section .left p {
    margin-top: 65px;
    text-transform: uppercase;

}
section .left .small {
    font-size: 15px;
    margin-top: 10px;
    line-height: 25px;
    float: left;

}
section .left .coupon {
    float: left;
    color: #228dbf;
    background-color: #FFFFFF;
    text-align: center;
    margin-left: 15px;
    padding-left:  5px;
    padding-right: 5px;
}
section .center {
    float: left;
    background-image: url("../images/bg-3_03.png");
    width: 339px;
    height: 454px;
    margin-left: 20px;
    position: relative;
}
section .center p {
    position: absolute;
    width: 227px;
    height: 87px;
    padding-top: 23px;
    padding-left: 23px;
    background-color: #228dbf;
    left: 23px;
    bottom: 23px;
}
section .right .top {
    position: relative;
    box-sizing: border-box;
    background-image: url("../images/bg-4_03.png");
    width: 230px;
    height: 217px;
    padding-left: 23px;
}
section .right .top:before {
    display: inline-block;
    content: " ";
    background-image: url("../images/lamp_03.png");
    width: 27px;
    height: 36px;
    margin-top: 23px;
}
section .right .top p {
    position: absolute;
    width: 200px;
    left: 25px;
    bottom: 25px;
}
section .right .bottom {
    box-sizing: border-box;
    background-image: url("../images/bg-5_03.png");
    width: 229px;
    height: 217px;
    margin-top: 20px;
    text-align: center;
    padding-top: 140px;
}
section .right .bottom p {
    text-transform: none;
    color: #757575;
    font-size: 15px;
    line-height: 20px;
}
section .right .bottom .small {
    font-size: 12px;
    color: #ababab;
}
section .container {
    margin-bottom: 20px;
}
footer .container {
    background-image: url("../images/footer_03.png");
    background-repeat: no-repeat;
    height: 74px;
}

footer .left li {
    margin: 16px 7px;
    display: inline-block;
}
footer .left ul a {
    font-family: GothamMediumRegular;
    font-size: 12px;
    color: #767776;
    text-transform: uppercase;
}
footer .left ul li:first-child {
    margin-left: 0px;
}
footer .right input {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-color: #090909;
    color: #FFFFFF;
    font-family: GothamMediumRegular;
    font-size: 12px;
    box-sizing: border-box;
    padding-left: 10px;
    border: none;
    margin-top: 10px;
}

footer .right p {
    display: block;
    float: right;
    font-size: 12px;
    color: #767776;
    margin-top: 10px;
    margin-right: 10px;
    line-height: 30px;
    vertical-align: middle;
}
footer .language {
    float: right;
}
footer .language a {
    display: inline-block;
    box-sizing: border-box;
    font-family: GothamMediumRegular;
    font-size: 12px;
    color: #767776;
    margin-top: 18px;
    vertical-align: middle;
    border-right: solid 1px #767776;
    padding: 0 5px;

}
footer .language a:last-child {
    border-right: none;
    margin-right: 40px;

}
footer .left p {
    font-size: 11px;
    color: #767776;
    text-transform: none;
    line-height: 16px;
}
.social {
    float

}



